.popup__container {
  width: 430px;
  border-radius: 10px;
  background: #fff;
  color: #000;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 34px;
  padding-bottom: 37px;
  box-sizing: border-box;
  position: relative;
}


@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
