.popup__save-button {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 2px;
}

.popup__save-button:hover {
  background: #000000cc;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    text-align: center;
    font-size: 14px;
    line-height: normal;
    height: 46px;
  }
}
