.profile__info {
  display: grid;
  grid-template-columns: max-content 18px;
  grid-template-rows: repeat(2, min-content);
  row-gap: 16px;
  column-gap: 18px;
  align-self: center;
}


@media screen and (max-width: 600px) {
  .profile__info {
    justify-self: center;
  }
}
