.profile__info {
    display: grid;
    /* grid-template-columns: minmax(max-content, 300px) 18px; */
    grid-template-columns: max-content 18px;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    ".profile__name .profile__edit-button"
    ".profile__bio .profile__bio";
    row-gap: 16px;
    column-gap: 18px;
    align-self: center;
}


@media screen and (max-width: 600px) {
    .profile__info {
        justify-self: center;
    }
}