.popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 49px;
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .popup__inputs {
    margin-top: 75px;
    margin-bottom: 45px;
  }
}
