.profile__bio {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: span 2;
}

@media screen and (max-width: 600px) {
    .profile__bio {
        justify-self: center;
        text-align: center;
        font-size: 14px;
    }
}